[Unit]
Description=daphne daemon
After=celery.service
Requires=celery.service

[Service]
PIDFile=/run/daphne/pid
User=www-data
Group=www-data
WorkingDirectory={{ config.install_directory }}
Environment="DJANGO_SETTINGS_MODULE=main.settings"
ExecStart=/usr/local/bin/daphne --bind 0.0.0.0 --port 9000 main.asgi:application
StandardOutput=file:{{ config.install_directory }}/logs/daphne_info.log
StandardError=file:{{ config.install_directory }}/logs/daphne_error.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
