[Unit]
Description=xinit

[Service]
# Only console users or root can start X
# systemd is not run in a console -> we have to use root
# even with geometry 0x0, the minimal size is still one character.
# use cat, which hangs forever and has no output with a black background
ExecStart=/bin/bash -c '! xset q && xinit cat -geometry 0x0 -background black'

[Install]
WantedBy=multi-user.target
