[MASTER]
disable=
	# triggers for Popen. Since processes are used across different functions,
	# using contextmanagers is not possible
	consider-using-with,
	# platform-specific modules are not always installed and their imports guarded
	import-error,
	# used for conditional importing and sometimes for resolving circular dependencies
    import-outside-toplevel,
	# false positives in base classes and mocks
	no-self-use,
	# sometimes there needs to be a class, even if it's just for one method
	too-few-public-methods,
	# isinstance(False, int) returns True, because bool subclasses int.
	# isinstance is not a valid replacement for type() is bool
	unidiomatic-typecheck,
module=backend
init-hook="import sys;sys.path.insert(0, 'backend')"
load-plugins=pylint_django
django-settings-module=backend.main.settings
[SIMILARITIES]
# There are 4 line similarities across multiple methods for simple logic that should not be deduplicated
min-similarity-lines=5
[FORMAT]
# id uniquely identifies songs in all providers
# instance attribute, does not shadow the builtin
good-names=id,ip
ignore-long-lines: ^\s*(# )?https?:\/\/\S*$
