// Navbar
.navbar {
	padding-bottom: 0px;
}
.navbar-brand {
	margin: 0px;
	padding: 0px;
}
.navbar-toggler {
	background-color: var(--elevated-background);
	border-color: var(--list-border);
}
#navbar-icon {
	fill: var(--normal-text);
}
#navbar-icon.partymode {
	animation: rainbow 2.1s linear infinite;
}
@keyframes rainbow {
	/* Only specifying two keyframes does not result in a rainbow.
	Probably rgb values are interpolated. */
	from, to { fill: hsl(324, 13%, 62%); }
	10%      { fill: hsl(360, 13%, 62%); }
	20%      { fill: hsl( 36, 13%, 62%); }
	30%      { fill: hsl( 72, 13%, 62%); }
	40%      { fill: hsl(108, 13%, 62%); }
	50%      { fill: hsl(144, 13%, 62%); }
	60%      { fill: hsl(180, 13%, 62%); }
	70%      { fill: hsl(216, 13%, 62%); }
	80%      { fill: hsl(252, 13%, 62%); }
	90%      { fill: hsl(288, 13%, 62%); }
}

.alarm {
	animation: fade 2.5s linear 4;
}

@keyframes fade {
	  0% {background-color: var(--background)}
	/*
	 18% {background-color: var(--red)}
	 48% {background-color: var(--red)}
	 */
	 18% {background-color: red;}
	 48% {background-color: red;}
	 80% {background-color: var(--background)}
	100% {background-color: var(--background)}
}

#hashtag-container {
	width: 60%;
	text-align: center;
}
#hashtag-container>i {
	color: var(--normal-text);
	display: inline-block;
}
#hashtag-text-container {
	color: var(--normal-text);
	vertical-align: middle;
	display: inline-block;

	transition: max-width 0.5s ease;
	/* subtract space for the plus icon */
	overflow: hidden;
	white-space: nowrap;
	max-width: 70%;
}
#hashtag-input {
	visibility: hidden;
	transition: max-width 0.5s ease;
}
#hashtag-input.shown, #hashtag-text-container.shown {
	visibility: visible;
	max-width: 70%;
}
#hashtag-input.hidden, #hashtag-text-container.hidden {
	max-width: 0%;
}

// collapsible menu
#menu {
	margin: 16px;
	margin-bottom: 0px;
	font-size: xx-large;
}
#menu i {
	padding: 5px;
}
.menu-row {
	display: flex;
	justify-content: space-between;
}

#users-container {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#users-container>*{
	padding: 5px;
}
#users {
	color: var(--normal-text);
}

#visitors-container {
	width: 50%;
	color: var(--normal-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: medium;
}
#visitors {
	font-size: x-large;
}

#theme-controls {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#theme-controls > i.icon-enabled{
	color: theme-color('contrast');
}

#lights-controls {
	width: 25%;
	max-width: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#lights-indicator.icon-enabled {
	color: yellow;
}

#shareberry-icon {
	fill: var(--normal-text);
	margin-bottom: 6px;
	margin-right: 4px;
}

#content {
	padding: 8px;
}

#platform-controls {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#platform-controls > i.icon-enabled#youtube {
	color: red /*youtube red*/;
}
#platform-controls > i.icon-enabled#spotify {
	color: #1ED760 /*spotify green*/;
}
#platform-controls > i.icon-enabled#soundcloud {
	color: #F95401 /*soundcloud orange*/;
}
#platform-controls > i.icon-enabled#jamendo {
	color: #ff1f59;
}

.unlink {
	color: var(--normal-text);
}
