#fixed-color {
	padding: 0;
	border: none;
}

.disabled .list-header {
	color: var(--silent-text);
}

#screen-options .list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
