#network-info svg {
  background-color: white;
  width: 15rem;
  height: 15rem;
  max-width: inherit;
}

#show-password {
  cursor: pointer;
}

#network-info .list-item > span:only-child{
  width: 100%;
  max-width: unset;
}
