#most-active-device {
	white-space: pre;
}
#request-activity {
	white-space: pre;
}
#playlist {
	white-space: pre;
}
#upgrade-config {
	white-space: pre;
	margin-top: 20px;
	margin-bottom: 20px;
}
#changelog-modal .modal-content {
	display: flex;
	flex-direction: column;
}
#changelog {
	width: 100%;
}
#upgrade-modal .modal-content {
	display: flex;
	flex-direction: column;
}

.is-disabled {
	pointer-events: none;
	position: relative;
	opacity: 0.5;

	&:after {
		position: absolute;
		content: attr(disabled-note) "";
		// 100% is too wide for disabled list items
		width: 99%;
		text-align: center;
		top: 30%;
		color: white;
	}
}
