[Unit]
Description=daphne daemon
After=network.target

[Service]
PIDFile=/run/daphne/pid
User=www-data
Group=www-data
WorkingDirectory={{ config.install_directory }}
Environment="DJANGO_SETTINGS_MODULE=main.settings"
ExecStart=/usr/local/bin/daphne --bind 0.0.0.0 --port 9000 main.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
